@charset "utf-8";
/* CSS Document */
.margin1{width:990px;margin:0 auto;}

.margin{width:1150px;margin:0 auto;}
#top{width:100%;height:33px;line-height:32px;font-size:12px;background-color:#f4f4f4;font:12px/32px "";z-index:1000;}
#top .top-l{float:left;padding:0 5px;color:#000;position:relative;}
#top .top-l .group-list{width:170px;height:162px;position:absolute;left:10px;top:27px;display:none;margin-left:-5px;background-color:#f4f4f4;padding:20px 0 20px 20px;z-index:100;}
#top .top-l .group-list li a{color:#9196a0;font-size:14px;transition:.5s;}
#top .top-l .group-list li a:hover{color:#000;}
#top .top-l .linktwo{color:#D71D32;margin-left:20px}

#top .top-r{float:right;}
#top .top-r ul li{float:left;}
#top .top-r ul li.wechat{position:relative;}
#top .top-r #focus{position:absolute;top:32px;right:110px;width:146px;height:216px;background-color:#f4f4f4;border:none;z-index:1000;display:none;}
#top .top-r #focus img{margin:2px auto 3px;width:96px;height:168px;}
#top .top-r #focus .qr-words{height:18px;line-height:18px;font-size:12px;text-align:center;}
#top .top-r #downLoadApp{position:absolute;top:32px;right:18px;width:146px;height:216px;background-color:#f4f4f4;border:none;z-index:1000;display:none;}
#top .top-r #downLoadApp img{margin:2px auto 3px;width:96px;height:168px;}
#top .top-r #downLoadApp .qr-words{height:18px;line-height:18px;font-size:12px;text-align:center;}
#top .top-r ul li.wechat a{color:#86bf4a;}
#top .top-r ul li.phone a{color:#d71d32;}
#top .top-r ul li a{font:12px/12px "";padding-left:10px;padding-right:10px;border-right:1px solid #dcdcdc;}
#top .top-r ul li.te a{padding-left:0px;padding-right:0px;border:0}
#top .top-r ul li.te a.te{padding-right:10px;border-right:1px solid #dcdcdc;}
#top .top-r ul li.te span{color:#000;}
#top .top-r ul li:last-child a{border:0}
#top .top-r .client{position:relative;}
#top .top-r .client:hover{background-color:#eaeceb;}
#top .top-r .client .tool-select{display:none;position:absolute;width:90px;line-height:28px;left:0;background: #eaeceb;z-index:9;}
#top .top-r .client .tool-select a{display:block;padding:0 0 0 15px;border-top:1px solid #ddd;font:12px/28px "";vertical-align:middle;}
#top .top-r .changeBg:hover{background:#ededeb;}

header{height:90px;background:#fff;}
header .header-l{float:left;width:340px;height:90px;}
header .header-l ul{vertical-align:top;margin-top:45px;}
header .header-l ul li{float:left;height:45.5px;padding:8px 22px 5px;text-align:center;color:#000;
}
header .header-l ul li:first-child{background-color:#3a3a3a;}
header .header-l ul li:first-child h5 a{color:#fff;}
header .header-l ul li:first-child a{color:#fff;}
header .header-l ul li h5{margin:0;padding:0;border:0;font:inherit;font-size:inherit;font-size:100%;vertical-align:baseline;}
header .header-l ul li a{color:##9c8e8e;}
header .header-l ul li .name-c a{color:#000;}
header #logo{width:340px;float:left;position:relative;}
header #logo .logo{position:absolute;float:left;width:182px;height:53px;left:43%;margin-top:22px;position:absolute;animation:logoflip 20s infinite;-moz-animation:logoflip 20s infinite;-webkit-animation: logoflip 20s infinite;}
header #logo #img01{position:absolute;width:171px;height:40px;}
header .header-r{float:right;width:381px;padding-right:18px;margin-top:30px;}
header .header-r .search{width:320px;height:28px;float:left;}
header .header-r .search [type="text"]{float:left;border:1px solid #000;border-right:0;width:240px;height:26px;font:12px/26px "";color:#999;padding-left:8px;}
header .header-r .search [type="submit"]{width:71px;height:28px;float:right;border:1px solid #3a3a3a;cursor:pointer;background:url(../images/search.png) no-repeat center;;}
header .header-r .search a{float:left;display:block;padding:2px 10px;font:12px/18px "";width:24px;}
header .header-r .shopping{margin-left:24px;position:relative;}
header .header-r .shopping .miniCar-wrapper{position:absolute;top:24px;right:-14px;width:378px;z-index:1000;background:#f8f8f8;display:none;}
header .header-r .shopping .miniCar-wrapper .miniCar{padding:280px 0 200px;text-align:center;background:url(../images/empty_car.png) no-repeat 106px 132px;}
header .header-r .shopping .miniCar-wrapper .miniCar h3{margin:0;padding:0;border:0;font:16px/18px "";}
header .header-r .hot{width:370px;font:12px/22px "";float:left;margin-top:-8px;}
header .header-r .hot a{margin-right:18px;}


#nav{background-color:#3a3a3a;height:40px;width:100%;}
#nav ul li{float:left;line-height:40px;padding-right:46px;box-sizing:border-box;margin-right:36px;display:inline-block;}
#nav ul li a{color:#fff;font-size:14px;line-height:14px;display:inline-block;}
#nav .nav-ul li:hover a{padding-bottom:3px;border-bottom:2px solid #fff;}


#banner{height:504px;}
#nav{position:relative;}
#nav ul .clothes .third-nav-wrapper{width:100%;height:410px;box-sizing:border-box;position:absolute;left:0;top:38px;display:none;padding:30px 0;background-color:#f8f8f8;z-index:900;}
#nav ul .clothes .third-nav-wrapper dl{float:left;width:278px;height:352px;box-sizing:border-box;border-left:1px solid #ccc;padding:0 50px;}
#nav ul .clothes .third-nav-wrapper dl:first-child{width:228px;border-left:0;padding-left:0;}
#nav ul .clothes .third-nav-wrapper .category-list dt{width:180px;padding-bottom:10px;border-bottom:1px solid #000;line-height:18px;margin-bottom:20px;}
#nav ul .clothes .third-nav-wrapper .category-list dt h3 a{line-height:14px;display:inline-block;position:relative;color:#000;}
#nav ul .clothes .third-nav-wrapper .category-list dd{line-height:14px;height:14px;margin-bottom:24px;color:#000;}
#nav ul .clothes .third-nav-wrapper a{color:#a1a1a1;}
#nav ul .clothes .third-nav-wrapper a:hover{text-decoration:underline;}
#nav ul .clothes .third-nav-wrapper .hot{color:#e01;}
#nav ul .clothes .third-nav-wrapper .show-detail{box-sizing:border-box;padding-left: 19px;padding-right:19px;width:337px;height:250px;float:right;}
#nav ul .clothes .third-nav-wrapper .show-detail a{color:#fff;font-size:14px;line-height:14px;display:inline-block;position relative;}
#nav ul .clothes .third-nav-wrapper .show-detail .title{width:100%;margin-top:40px;text-align:center;font-size:14px;color:#000;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}

#center{height:900px;}
#center .path-nav{font-size:12px;padding:15px 0;height:18px;line-height:18px;color:#444;}
#center .path-nav a{color:#666;}
#center .path-nav img{vertical-align:baseline;}
#center .path-nav .last{font-weight:700;}
#center .help{float:left;width:163px;background:#fff;margin-bottom:20px;}

#center .help .title{width:100%;height:54px;background:#eaeaea;padding-left:20px;line-height:54px;font-size:18px;box-sizing:border-box;}
#center .help .nav{background:#fbfbfb;}
#center .help .nav li{cursor:pointer;padding-left:20px;width:100%;box-sizing:border-box;}
#center .help .nav .kinds{position:relative;height:59px;line-height:59px;font-size:16px;border-top:1px solid #e8e8e8;}
#center .help .nav .kinds_body {display:none;}
#center .help .nav .kinds .menu{color:#000;}
#center .help .nav .kinds .mult{margin-right:26px;height:14px;width:14px;}
#center .help .nav .kinds .plus{cursor:pointer;margin-right:10px;height:13px;width:13px;display:inline-block;position:relative;top:1px;background:url(../images/plus.png) no-repeat;}
#center .help .nav .kinds .minus{cursor:pointer;margin-right:10px;height:13px;width:13px;display:inline-block;position:relative;top:1px;background:url(../images/minus.png) no-repeat;}

#center .help .nav #sevli{width:100%;}
#center .help .nav .smll-category{height:16px;line-height:16px;margin-bottom:14px;font-size:14px;}
#center .help .nav .smll-category .mult{margin-right:26px;height:14px;width:14px;}
#center .help .nav li.selected > a {color:#ce021b;}
#center .main{float:left;width:785px;margin:0 0 60px 40px;border:1px solid #e0e0e0;padding-bottom:20px;}
#center .main .search-box{height:116px;background:#f5f5f5;padding-top:30px;border-bottom:1px solid #dfdfdf;box-sizing:border-box;}
#center .main .search-box .search{width:310px;margin:0 auto;}
#center .main .search-box .search .search-area{width:308px;height:33px;border:1px solid #3a3a3a;background:#fff;}
#center .main .search-box .search .search-area .help-search{width:250px;border:none;padding:6px 0 6px 20px;line-height:21px;display:inline-block;color:rgb(152, 152, 152);}
#center .main .search-box .keyword{margin:10px 0 45px;font-size:14px;color:#000;text-align:center;}
#center .main .search-box .keyword a{margin:0 6px;display:inline-block;color:#3a3a3a;line-height:18px;text-align:left;}

#center .main .detail{padding-top:20px;}
#center .main .detail .help-detail .nav-title{width:740px;height:30px;line-height:30px;font-size:14px;background:#f0f0f0;margin:0 auto;padding-left:15px;box-sizing:border-box;}
#center  .main .detail .help-detail .detail-problem{width:740px;margin:0 auto;padding:20px 0;}
#center .main .detail .help-detail .detail-problem .detailul{display:flex;justify-content:center;flex-wrap:wrap;}
#center .main .detail .help-detail .detail-problem .detailul li{width:48%;text-align:left;line-height:30px;display:inline-block;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;box-sizing:border-box;font-size:14px;padding-left:20px;}
#center .main .detail .help-detail .detail-problem .detailul li{position:relative;}
#center .main .detail .help-detail .detail-problem .detailul li .dot-icon{background-image:url(../images/sprite.help.png);background-position:-55px -70px;position:absolute;left:10px;top:13px;width:4px;height:4px;display:inline-block;}
#center .main .detail .help-detail .detail-problem a:hover{color:#d2021c;}
#center .main .detail .help-detail .detail-problem a:hover .dot-icon{background-position:-61px -70px;}
#center .main .detail .help-detail .detail-problem .detailul li:first-child .dot-icon{background-position:-61px -70px;}
#center .main .detail .help-detail .detail-problem .detailul li:first-child a{color:#d2021c;}
#center .main .detail .help-cont .cont{padding:25px 20px 0;box-sizing: border-box;width:740px;margin:0 auto;font-size:14px;overflow:hidden;line-height:24px;}


	





footer{height:295px;background:#000;}
footer #footer-t{padding:20px 0 10px;}
footer #footer-t .left{width:123px;height:31.5px;float:left;margin-right:60px;line-height:30px;font-size:12px;font-weight:700;}
footer #footer-t .left .iconfont{color:#fff;margin-right:5px;}
footer #footer-t .left .red{font:700 12px/30px "";color:#e01;}
footer #footer-t .left .rpzp{font:700 12px/30px "";color:#fff;}

footer #footer-t .right{float:right;border:1px solid #262626;width:240px;}
footer #footer-t .right input{width:180px;height:32px;padding:0 10px;line-height:32px;border:none;margin:0;background:#000;color:#666;}
footer #footer-t .right a{display:block;float:right;margin-right:20px;font-size:20px;line-height:28px;opacity:.5;color:#fff;}

footer #footer-m{height:121px;padding:15px 0;border-top:1px solid #262626;}
footer #footer-m ul{display:flex;justify-content:space-between;}
footer #footer-m ul li p{line-height:24px;}
footer #footer-m ul li p span{color:#fff;}
footer #footer-m ul li p a{color:#666;}
footer #footer-m ul li p a:hover {text-decoration:underline;}
footer #footer-b img{float:left;margin-right:5px;}
footer #footer-b .about{float:left;line-height:20px;color:#666;margin-left:10px;box-sizing:border-box;}
footer #footer-b .about a{color:#666;}
footer #footer-b .about span{padding:0 10px;}
#show{width:60px;height:180px;position:fixed;right:0px;bottom:40px;display:none;}
.qrcode-hover-box{width:60px;height:60px;text-align:center;color:#fff;background:#000;opacity:.5;cursor:pointer;margin-top:20px;position:fixed;right:0px;bottom:130px;}
.qrcode-hover-box:hover{opacity:.9;}
.qrcode-hover-box #focusLeft{cursor:default;position:relative;right:260px;bottom:100px;width:130px;height:180px;text-align:center;background-color:#f4f4f4;display:none;}
.qrcode-hover-box #downLoadAppRight{cursor:default;position:relative;right:130px;bottom:280px;width:130px;height:180px;text-align:center;background-color:#f4f4f4;display:none;}
.qrcode-hover-box .layer-box{width:60px;height:60px;text-align:center;line-height:50px;color:#fff;background:#000;opacity:.5;cursor:pointer;display:inline-block;}
.qrcode-hover-box .layer-box .qrcode-img{width:28px;height:28px;background-image: url(../images/sprite.base.png);background-position:-59px 0;display:inline-block;margin-top:16px;}
.return-top{width:60px;height:60px;text-align:center;line-height:50px;color:#fff;background:#000;opacity:.5;cursor:pointer;margin-top:20px;font:900 50px/75px "";position:fixed;right:0px;bottom:50px;}
.return-top:hover{opacity:.9;}



