@charset "UTF-8";
a {
  text-decoration: none;
  cursor: pointer; }

img:hover {
  opacity: .8; }

header {
  margin-bottom: 40px;
  margin: 23px auto 0;
  width: 1199px; }
  header .logo {
    float: left; }
    header .logo a {
      position: relative;
      display: block;
      width: 200px;
      height: 52px;
      background: url("../images/logo.png") no-repeat 0 0; }
  header .nav {
    margin: 6px 0 0 85px;
    float: left; }
    header .nav li {
      float: left; }
      header .nav li a {
        display: block;
        background: url("../images/nav-line.png") no-repeat left center;
        padding: 0 26px; }
        header .nav li a span {
          display: block;
          text-align: center;
          color: #000;
          font: 16px/20px ""; }

#banner {
  background: url("../images/shadow.png") repeat-x left bottom; }
  #banner .wrap {
    margin: 20px auto 0;
    width: 1274px; }
    #banner .wrap h2 {
      float: left;
      width: 100%;
      height: 40px;
      background: #ccc;
      font: 22px/40px "";
      text-align: center; }
      #banner .wrap h2 a {
        display: block;
        color: #fff; }
    #banner .wrap img {
      display: block;
      width: 100%;
      height: 100%; }
    #banner .wrap .yohobuy {
      margin: 0 20px 0 0;
      width: 382px;
      float: left; }
      #banner .wrap .yohobuy .yohobuy-logo {
        float: left;
        margin: 0 5px 0 0;
        width: 187px;
        height: 170px;
        position: relative;
        overflow: hidden; }
        #banner .wrap .yohobuy .yohobuy-logo a img {
          width: 100%;
          height: 100%;
          display: block; }
      #banner .wrap .yohobuy .yohobuy-content {
        float: left;
        width: 190px;
        height: 170px; }
        #banner .wrap .yohobuy .yohobuy-content a img {
          width: 100%;
          height: 100%;
          display: block; }
      #banner .wrap .yohobuy .yohobuy-sale {
        float: left;
        margin: 5px 0 0 0;
        width: 100%;
        height: 240px; }
    #banner .wrap .section {
      float: left;
      margin: 0 20px 0 0;
      width: 327px; }
      #banner .wrap .section .section-logo {
        float: left;
        width: 100%;
        height: 415px; }
    #banner .wrap .specialWrap {
      float: left;
      width: 178px; }
    #banner .wrap .yohogirls {
      margin: 0 0 0 20px;
      width: 327px;
      float: left; }

.download-box {
  margin-top: 53px;
  text-align: center; }
  .download-box h2 {
    height: 60px;
    font: 18px/60px "";
    text-align: center; }
    .download-box h2 .circle {
      width: 5px;
      height: 5px;
      background: #000;
      border-radius: 50%;
      display: inline-block;
      margin: 4px 18px; }
    .download-box h2 .inner-wrap {
      text-align: center; }
      .download-box h2 .inner-wrap a {
        display: block; }
        .download-box h2 .inner-wrap a img {
          display: block;
          margin: 0 auto; }

footer .ft {
  width: 430px;
  margin: 0 auto;
  height: 74.5px; }
  footer .ft li {
    float: left;
    line-height: 73px;
    padding: 0 25px; }
    footer .ft li a {
      font-size: 14px;
      color: #000;
      font-family: "鍗庢枃榛戜綋"; }
footer .ft-b {
  position: relative;
  padding: 30px 0; }
  footer .ft-b .ft-line {
    top: 0px;
    left: 50%;
    margin-left: -463px;
    height: 1px;
    position: absolute;
    background-image: url("../images/ft-line.png");
    background-repeat: no-repeat;
    width: 926px;
    background-size: 100% 100%; }
  footer .ft-b p {
    line-height: 20px;
    text-align: center;
    color: #c0c0c0;
    font-family: helveticaneue,'helveticaneue','microsoft yahei'; }
    footer .ft-b p a {
      color: #c0c0c0;
      font-family: helveticaneue,'helveticaneue','microsoft yahei'; }

/*# sourceMappingURL=YOHO!.css.map */
